# Ignore everything
/*

# Except the .gitignore file
!.gitignore

# Except the software directory
!/software/

# Ignore everything inside the software directory
/software/*

# Except the main folder inside the software directory
!/software/main/